* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header {
    background-color: rgb(109, 109, 211);
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}

#logo {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 1rem;


}

.logoimg {
    width: 44px;
    height: 44px;
   
}
#logotext {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}
.icons {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#searchHolder {
    width: 100%;
    max-width: 540px;
}

#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
    display: none;
}


.searchInput {
    margin-top: rem;
 
    border: none;
    outline: none;

    width: 100%;
}
 

.product {
    padding: 1rem;
    border: 1px solid gray;
    
}
#productlist {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
}
.product .rating {
    color: rgb(179, 179, 46);
    font-size: 1rem;
}

.priceAndbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.product .price {
    font-size: 1rem;
}
.product button{
    padding: 0.5rem 1rem;
 
    background-color: rgb(26, 135, 26);
    color: white;
    border-color: aqua;
    border-radius: 0.5rem;
   
   

 }
 
.productlist {
    @media only screen and (min-width: 768px) 

   grid-template-columns: 1fr 1fr ;

}


@media only screen and (min-width: 960px) {
    #searchbox {
        display: flex;
    
    }
  }
  
  /* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium screens go here */
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}
 
 


  
